################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnUPA/FileContentIndex/b20abcf3-5963-4167-86df-75ec52f53f0a.vsidx
/.vs/slnUPA/FileContentIndex/82c5c8c8-1299-4430-8a2c-8860f3ae2f28.vsidx
/.vs/slnUPA/FileContentIndex/4b6bdd82-c37f-4210-8b1e-cf8302fd0d27.vsidx
/.vs/slnUPA/FileContentIndex/read.lock
